[advisories]
ignore = [
    "RUSTSEC-2023-0071" # rsa: marvin attack
]

[licenses]
allow = [
    "Apache-2.0",
    "BSD-3-Clause",
    "ISC",
    "MIT",
    "MPL-2.0",
    "Unicode-3.0",
]

[bans]
deny = [
    "openssl",
]
skip = [
    "windows-sys",
]
